/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
header {
    height: 100px;
    background-color: white;
    line-height: 100px;
    padding-left: 20px;
}

/*LOGO*/
#logo {
    height: 50px;
    vertical-align: middle;
}

/*TITOLO DELLA PAGINA*/
h1 {
    display: inline;
    font-size: 50px;
    font-weight: 800;
    vertical-align: middle;
}